In [1]:
import pandas as pd

## Frutoss

In [2]:
table_aliases = pd.read_csv('projects_tables_with_aliases/frutoss_oc_seo_url.csv')

### Категории

In [3]:
categories_aliases = table_aliases[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [4]:
categories_aliases = categories_aliases[filter_categories]

In [5]:
categories_aliases.duplicated().sum()

6700

In [6]:
categories_aliases.drop_duplicates(inplace=True)

In [7]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [8]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [9]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [10]:
categories_aliases

              category_id                    alias  length_category_id
0      [category, id=118]           travyanoy-chay                   2
1      [category, id=109]   smesi-orehovye-chajnye                   2
2      [category, id=110]               churchhela                   2
4      [category, id=134]         cedra-apelsina-1                   2
6       [category, id=66]                     shop                   2
...                   ...                      ...                 ...
24456  [category, id=353]       fruktovyj-azerchay                   2
24467  [category, id=354]         chernyj-azerchay                   2
24478  [category, id=355]         maslo-dlya-plova                   2
24489  [category, id=356]  maslo-podsolnechnoe-101                   2
24500  [category, id=357]          olivkovoe-maslo                   2

[266 rows x 3 columns]

In [11]:
categories_aliases['alias'].to_csv('projects_aliases/frutoss_categories_aliases.csv', index=False)

### Карточки

In [13]:
products_aliases = table_aliases[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
products_aliases = products_aliases[filter_products]

In [15]:
products_aliases.duplicated().sum()

52900

In [16]:
products_aliases.drop_duplicates(inplace=True)

In [17]:
products_aliases

            product_id                                              alias
169    product_id=3601                       maslo-abrikosovoe-100-250-ml
171    product_id=3488  dzhezere-atom-v-shokoladnom-drazhe-miks-iz-kur...
172    product_id=3489                             lukum-sheker-25-kg-s-f
173    product_id=3490                        kurut-syrnye-shariki-120-gr
174    product_id=3491            kurut-s-bazilikom-syrnye-shariki-150-gr
...                ...                                                ...
63639  product_id=6241                       ris-basmati-asad-indiya-1-kg
63640  product_id=6243                       ris-basmati-asad-indiya-5-kg
63641  product_id=6226                             melissa-izmelchyonnaya
63678  product_id=6266                       ulun-zhenshen-premiym-100-gr
63679  product_id=6433                          chaj-zelyonyj-vetnam-1-kg

[2123 rows x 2 columns]

In [18]:
products_aliases['alias'].to_csv('projects_aliases/frutoss_products_aliases.csv', index=False)

## BigBears

In [118]:
table_aliases = pd.read_csv('projects_tables_with_aliases/bigbears_oc_seo_url.csv')

### Категории

In [119]:
categories_aliases = table_aliases[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [120]:
categories_aliases = categories_aliases[filter_categories]

In [121]:
categories_aliases.duplicated().sum()

1140

In [122]:
categories_aliases.drop_duplicates(inplace=True)

In [124]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [125]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [126]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [127]:
categories_aliases

            category_id                       alias  length_category_id
2     [category, id=66]               mishki-220-sm                   2
3     [category, id=59]              katalog-mishek                   2
4     [category, id=67]                mishki-80-sm                   2
5     [category, id=72]                mishki-90-sm                   2
6     [category, id=69]               mishki-110-sm                   2
7     [category, id=63]               mishki-120-sm                   2
8     [category, id=64]               mishki-150-sm                   2
9     [category, id=61]               mishki-160-sm                   2
10    [category, id=60]               mishki-170-sm                   2
11    [category, id=65]               mishki-180-sm                   2
12    [category, id=71]               mishki-200-sm                   2
13    [category, id=62]               mishki-210-sm                   2
14    [category, id=70]            plyushevye-pandy                   2
31    [category, id=73]            nedorogie-mishki                   2
34    [category, id=68]               mishki-280-sm                   2
1600  [category, id=74]        bolshie-belogo-cveta                   2
1601  [category, id=75]  bolshie-korichnevogo-cveta                   2
1602  [category, id=76]        bolshie-serogo-cveta                   2
1603  [category, id=77]     bolshie-medvedi-2-metra                   2
1697  [category, id=78]               mishki-130-sm                   2
1714  [category, id=79]               mishki-230-sm                   2
1943  [category, id=80]            kelvin-80-230-sm                   2
1960  [category, id=81]             barri-80-220-sm                   2
1977  [category, id=82]            edvin-100-160-sm                   2
1994  [category, id=83]           nestor-120-160-sm                   2
2011  [category, id=84]            tonni-120-230-sm                   2
2028  [category, id=85]           chelsi-120-200-sm                   2
2043  [category, id=86]            baddi-170-210-sm                   2
2093  [category, id=87]             mishki-180-sm-1                   2

In [128]:
categories_aliases['alias'].to_csv('projects_aliases/bigbears_categories_aliases.csv', index=False)

### Карточки

In [129]:
products_aliases = table_aliases[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [130]:
products_aliases = products_aliases[filter_products]

In [131]:
products_aliases.duplicated().sum()

3382

In [132]:
products_aliases.drop_duplicates(inplace=True)

In [133]:
products_aliases

         product_id                                              alias
15    product_id=37        bolshoy-plyushevyy-medved-edvin-90-sm-belyy
32    product_id=24  bolshoy-plyushevyy-medved-panda-110-sm-cherno-...
33    product_id=25  bolshoy-plyushevyy-medved-panda-160-sm-cherno-...
41     product_id=4  bolshoy-plyushevyy-medved-altay-160-sm-zhemchu...
67    product_id=20    bolshoy-plyushevyy-medved-barri-220-sm-kofeynyy
...             ...                                                ...
2104  product_id=85   bolshoj-plyushevyj-medved-martin-180-sm-kofejnyj
2105  product_id=86   bolshoj-plyushevyj-medved-orion-180-sm-molochnyj
2106  product_id=87    bolshoj-plyushevyj-medved-orion-180-sm-kofejnyj
2107  product_id=88  bolshoj-plyushevyj-medved-martin-220-sm-molochnyj
2108  product_id=89   bolshoj-plyushevyj-medved-martin-220-sm-kofejnyj

[89 rows x 2 columns]

In [134]:
products_aliases['alias'].to_csv('projects_aliases/bigbears_products_aliases.csv', index=False)

## Skurala

In [135]:
table_aliases = pd.read_csv('projects_tables_with_aliases/skurala_oc_seo_url.csv')

### Категории

In [136]:
categories_aliases = table_aliases[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [137]:
categories_aliases = categories_aliases[filter_categories]

In [138]:
categories_aliases.duplicated().sum()

0

In [139]:
categories_aliases.drop_duplicates(inplace=True)

In [140]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [141]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [142]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [143]:
categories_aliases

,category_id,alias,length_category_id
3,"[blogcategory, id=1]",news,2
4897,"[category, id=333]",danfoss,2
4898,"[category, id=312]",instrument_i_svarochnoe_oborudovanie,2
4899,"[category, id=313]",vodootvedenie,2
4900,"[category, id=314]",truboprovody_polimernye_i_soedinitelnye_chasti,2
...,...,...,...
9957,"[category, id=356]",krany_stalnye_sharovye_ld_1,2
9958,"[category, id=357]",krany_ventili_dlya_podklyucheniya_byt_tekhniki_,2
9959,"[category, id=467]",stalnye_panelnye_radiatory_heaton,2
9960,"[category, id=468]",truba_metalloplastikovaya_henco,2
9961,"[category, id=465]",truby_dlya_teplogo_pola,2

In [144]:
categories_aliases['alias'].to_csv('projects_aliases/skurala_categories_aliases.csv', index=False)

### Карточки

In [145]:
products_aliases = table_aliases[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [146]:
products_aliases = products_aliases[filter_products]

In [147]:
products_aliases.duplicated().sum()

0

In [148]:
products_aliases.drop_duplicates(inplace=True)

In [149]:
products_aliases

            product_id                                              alias
0        product_id=93                  tekhplastina_rezina_tmkshch_s_3mm
1        product_id=82                     armatura_10_a500s_l_5_8_5_9m_1
2        product_id=83                                 armatura_12_a3_n_d
4        product_id=96          shpilka_otsinkovannaya_rezbovaya_m_8_2000
5        product_id=58  hl_98_lyuk_reviziya_s_kryshkoy_iz_nerzh_stali_...
...                ...                                                ...
9897  product_id=14072  umyvalnik_nostalzhi_550kh440_s_otverstiem_bez_...
9898  product_id=14075                   manzhet_konusnyy_d60kh80_chernyy
9899  product_id=14080                     gayka_m22_gost_5915_70_5927_70
9900  product_id=14088                   shayba_ploskaya_24_gost_11371_78
9901  product_id=14093                     podvodka_k_smesitelyu_100sm_el

[9742 rows x 2 columns]

In [150]:
products_aliases['alias'].to_csv('projects_aliases/skurala_products_aliases.csv', index=False)

## EliteWheels

In [160]:
table_aliases_catalog = pd.read_csv('projects_tables_with_aliases/ew_oc_seo_url.csv')
table_aliases_filter = pd.read_csv('projects_tables_with_aliases/ew_oc_mfilter_url_alias.csv')

### Категории

In [161]:
categories_aliases = table_aliases_catalog[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [162]:
categories_aliases = categories_aliases[filter_categories]

In [163]:
categories_aliases.duplicated().sum()

0

In [164]:
categories_aliases.drop_duplicates(inplace=True)

In [165]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [166]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [167]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [168]:
categories_aliases

,category_id,alias,length_category_id
36,"[category, id=34761]",kolesnie-diski-neo-814,2
64,"[category, id=34762]",kolesnie-diski-pdw-rs2,2
101,"[category, id=23257]",legkovye-shiny-centara-vanti-taxi,2
106,"[category, id=23265]",legkovye-shiny-hankook-winter-radial-dw04,2
107,"[category, id=23264]",legkovye-shiny-goodyear-wrangler-s,2
...,...,...,...
102543,"[category, id=34868]",legkovie-shini-gt-radial-sportactive-2-suv,2
102774,"[category, id=34869]",legkovie-shini-contyre-cross-road,2
102789,"[category, id=34870]",kolesnie-diski-carwel-tobol,2
102823,"[category, id=34871]",legkovie-shini-cordiant-business-cs2,2
102901,"[category, id=34872]",kolesnie-diski-xtrike-x-133,2

In [169]:
categories_aliases['alias'].to_csv('projects_aliases/ew_categories_aliases.csv', index=False)

### Карточки

In [170]:
products_aliases = table_aliases_catalog[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [171]:
products_aliases = products_aliases[filter_products]

In [172]:
products_aliases.duplicated().sum()

0

In [173]:
products_aliases.drop_duplicates(inplace=True)

In [174]:
products_aliases

               product_id                                              alias
0       product_id=140382  vsesezonnie-shini-bfgoodrich-all-terrain-t-a-k...
2       product_id=140396  litie-kolesnie-diski-neo-509-6x15-4x114-3-et45...
3       product_id=140395  litie-kolesnie-diski-tech-line-530-6x15-4x114-...
4       product_id=140394  litie-kolesnie-diski-tech-line-410-5-5x14-4x98...
5       product_id=140393  letnie-shini-marshal-crugen-premium-kl33-245-5...
...                   ...                                                ...
102982  product_id=142549  litie-kolesnie-diski-inforged-ifg34-8x18-5x112...
102983  product_id=142550  litie-kolesnie-diski-inforged-ifg66-8x18-5x112...
102984  product_id=142551  litie-kolesnie-diski-inforged-ifg66-8x18-5x114...
102985  product_id=142552  litie-kolesnie-diski-inforged-ifg66-8x18-5x114...
102986  product_id=142553  litie-kolesnie-diski-inforged-ifg34-8x18-5x114...

[88729 rows x 2 columns]

In [175]:
products_aliases['alias'].to_csv('projects_aliases/ew_products_aliases.csv', index=False)

### Фильтры

In [177]:
table_aliases_filter['alias'].to_csv('projects_aliases/ew_filters_aliases.csv', index=False)

## EliteWheels MSK

In [231]:
table_aliases_catalog = pd.read_csv('projects_tables_with_aliases/ew_msk_oc_seo_url.csv')
table_aliases_filter = pd.read_csv('projects_tables_with_aliases/ew_msk_oc_mfilter_url_alias.csv')

### Категории

In [232]:
categories_aliases = table_aliases_catalog[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [233]:
categories_aliases = categories_aliases[filter_categories]

In [234]:
categories_aliases.duplicated().sum()

0

In [235]:
categories_aliases.drop_duplicates(inplace=True)

In [236]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [237]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [238]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [239]:
categories_aliases

,category_id,alias,length_category_id
83,"[category, id=34678]",legkovie-shini-marshal-crugen-premium-kl33,2
100,"[category, id=23257]",legkovye-shiny-centara-vanti-taxi,2
105,"[category, id=23265]",legkovye-shiny-hankook-winter-radial-dw04,2
106,"[category, id=23264]",legkovye-shiny-goodyear-wrangler-s,2
113,"[category, id=23263]",legkovye-shiny-nokian-hakkapeliitta-10p,2
...,...,...,...
100274,"[category, id=34700]",legkovie-shini-aosen,2
100275,"[category, id=34701]",legkovie-shini-aosen-hh301,2
100277,"[category, id=34702]",legkovie-shini-aosen-hu901,2
100352,"[category, id=34703]",kolesnie-diski-replica-h-bm98,2
100371,"[category, id=34704]",legkovie-shini-continental-vancontact-a-s-ultra,2

In [240]:
categories_aliases['alias'].to_csv('projects_aliases/ew_msk_categories_aliases.csv', index=False)

### Карточки

In [241]:
products_aliases = table_aliases_catalog[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [242]:
products_aliases = products_aliases[filter_products]

In [243]:
products_aliases.duplicated().sum()

0

In [244]:
products_aliases.drop_duplicates(inplace=True)

In [245]:
products_aliases

               product_id                                              alias
1       product_id=138755  letnie-shini-continental-premiumcontact-6-225-...
2       product_id=138797  litie-kolesnie-diski-skad-tirion-6-5x16-5x100-...
3       product_id=138796  litie-kolesnie-diski-skad-marsel-7x17-5x105-et...
4       product_id=138795  litie-kolesnie-diski-replica-concept-pr521-9-5...
5       product_id=138794  litie-kolesnie-diski-skad-pantera-6x15-4x100-e...
...                   ...                                                ...
100476  product_id=140026  letnie-shini-nexen-npriz-ah8-215-50-r18-92h-t6...
100477  product_id=140027    letnie-shini-aosen-hu901-215-55-r17-98w-t673653
100478  product_id=140028    letnie-shini-delinte-dh2-255-35-r18-94w-t673654
100479  product_id=140029  litie-kolesnie-diski-khomen-double-spoke-603-6...
100480  product_id=140030  litie-kolesnie-diski-khomen-knw-1608-6-5x16-5x...

[86386 rows x 2 columns]

In [246]:
products_aliases['alias'].to_csv('projects_aliases/ew_msk_products_aliases.csv', index=False)

### Фильтры

In [247]:
table_aliases_filter['alias'].to_csv('projects_aliases/ew_msk_filters_aliases.csv', index=False)

## Kolesa-v-Pitere

In [178]:
table_aliases_catalog = pd.read_csv('projects_tables_with_aliases/kvp_oc_seo_url.csv')
table_aliases_filter = pd.read_csv('projects_tables_with_aliases/kvp_oc_mfilter_url_alias.csv')

### Категории

In [179]:
categories_aliases = table_aliases_catalog[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [180]:
categories_aliases = categories_aliases[filter_categories]

In [181]:
categories_aliases.duplicated().sum()

0

In [182]:
categories_aliases.drop_duplicates(inplace=True)

In [183]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [184]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [185]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [186]:
categories_aliases

                category_id           alias  length_category_id
7         [category, id=59]  legkovye-shiny                   2
8         [category, id=60]    zimnie-shiny                   2
9         [category, id=61]    letnie-shiny                   2
10        [category, id=66]  kolesnye-diski                   2
11        [category, id=67]     litye-diski                   2
...                     ...             ...                 ...
73633  [category, id=23417]   replay-hnd239                   2
73634  [category, id=23418]    replay-lx125                   2
73635  [category, id=23419]     replay-gl11                   2
73636  [category, id=23420]     replay-gl24                   2
73637  [category, id=23421]    replay-ty346                   2

[11797 rows x 3 columns]

In [187]:
categories_aliases['alias'].to_csv('projects_aliases/kvp_categories_aliases.csv', index=False)

### Карточки

In [188]:
products_aliases = table_aliases_catalog[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [189]:
products_aliases = products_aliases[filter_products]

In [190]:
products_aliases.duplicated().sum()

0

In [191]:
products_aliases.drop_duplicates(inplace=True)

In [192]:
products_aliases

              product_id                                              alias
16     product_id=205016  letnie_shiny_RoadX_RXQuest_H_T_02_275_65_R17_1...
17     product_id=205011  letnie_shiny_RoadX_RXQuest_H_T_02_285_65_R17_1...
18     product_id=205010  letnie_shiny_RoadX_RXQuest_SU01_265_35_R22_102...
19     product_id=205009  vsesezonnye_shiny_BFGoodrich_All_Terrain_T_A_K...
20     product_id=205008  letnie_shiny_RoadX_RXQuest_SU01_235_50_R18_97V...
...                  ...                                                ...
73744  product_id=168692  letnie_shiny_Pirelli_Cinturato_P7_245_45_R18_1...
73745  product_id=168691  letnie_shiny_Maxxis_Pragmatra_MP15_SUV_215_65_...
73746  product_id=168690  zimnie_shiny_Kumho_WinterCraft_WS71_275_40_R20...
73747  product_id=168689  zimnie_shiny_Kumho_WinterCraft_WS71_225_55_R19...
73748  product_id=168688  zimnie_shiny_Nexen_Winguard_Winspike_WH62_185_...

[61933 rows x 2 columns]

In [193]:
products_aliases['alias'].to_csv('projects_aliases/kvp_products_aliases.csv', index=False)

### Фильтры

In [194]:
table_aliases_filter['alias'].to_csv('projects_aliases/kvp_filters_aliases.csv', index=False)

## The Koleso

In [196]:
table_aliases_catalog = pd.read_csv('projects_tables_with_aliases/koleso_oc_url_alias.csv')
table_aliases_filter = pd.read_csv('projects_tables_with_aliases/koleso_oc_mfilter_url_alias.csv')

### Категории

In [197]:
categories_aliases = table_aliases_catalog[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [198]:
categories_aliases = categories_aliases[filter_categories]

In [199]:
categories_aliases.duplicated().sum()

0

In [200]:
categories_aliases.drop_duplicates(inplace=True)

In [201]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [202]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [203]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [204]:
categories_aliases

,category_id,alias,length_category_id
0,"[category, id=78249]",shiny-dunlop-sp-sport-maxx-050,2
38,"[category, id=82977]",kumho-crugen-hp91,2
40,"[category, id=82976]",nexen-npriz-ah8,2
323,"[category, id=82975]",specshini-voltair-agro-dr-108,2
326,"[category, id=82974]",specshini-voltair-ya-140,2
...,...,...,...
117555,"[category, id=60397]",arktis,2
117556,"[category, id=60396]",425,2
117557,"[category, id=60395]",846,2
117558,"[category, id=60394]",852,2
117559,"[category, id=60393]",864,2

In [205]:
categories_aliases['alias'].to_csv('projects_aliases/koleso_categories_aliases.csv', index=False)

### Карточки

In [206]:
products_aliases = table_aliases_catalog[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [207]:
products_aliases = products_aliases[filter_products]

In [208]:
products_aliases.duplicated().sum()

0

In [209]:
products_aliases.drop_duplicates(inplace=True)

In [210]:
products_aliases

                product_id                                              alias
1       product_id=4196472  litie-kolesnie-diski-nz-h-03r-6-5x16-5x114-3-e...
2       product_id=4196471  litie-kolesnie-diski-nz-h-03r-6-5x16-5x112-et5...
3       product_id=4196470  litie-kolesnie-diski-nz-h-03r-6-5x16-5x112-et3...
4       product_id=4196469  litie-kolesnie-diski-nz-h-03r-6-5x16-5x110-et3...
5       product_id=4196468  litie-kolesnie-diski-nz-r-02-6-5x16-5x112-et50...
...                    ...                                                ...
108728    product_id=24122  zimnie-shiny-tigar-sigura-stud-17570-r13-82t-s...
108729    product_id=24121  zimnie-shiny-tigar-sigura-stud-17570-r14-84t-s...
108730    product_id=24120  zimnie-shiny-tigar-sigura-stud-18560-r14-82t-s...
108731    product_id=24119  zimnie-shiny-tigar-sigura-stud-18565-r14-86t-s...
108732    product_id=24117  zimnie-shiny-tigar-sigura-stud-18570-r14-88t-s...

[93823 rows x 2 columns]

In [211]:
products_aliases['alias'].to_csv('projects_aliases/koleso_products_aliases.csv', index=False)

### Фильтры

In [213]:
table_aliases_filter['alias'].to_csv('projects_aliases/koleso_filters_aliases.csv', index=False)

## Kypishiny

In [215]:
table_aliases_catalog = pd.read_csv('projects_tables_with_aliases/ks_oc_seo_url.csv')
#table_aliases_filter = pd.read_csv('projects_tables_with_aliases/ks_oc_mfilter_url_alias.csv')

### Категории

In [216]:
categories_aliases = table_aliases_catalog[['query', 'keyword']]
categories_aliases.rename(columns = {'query':'category_id','keyword':'alias'}, inplace = True)
filter_categories = categories_aliases['category_id'].str.contains('category_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [217]:
categories_aliases = categories_aliases[filter_categories]

In [218]:
categories_aliases.duplicated().sum()

0

In [219]:
categories_aliases.drop_duplicates(inplace=True)

In [220]:
categories_aliases['category_id'] = categories_aliases['category_id'].apply(lambda x: x.split('_'))

In [221]:
categories_aliases['length_category_id'] = categories_aliases['category_id'].apply(lambda x: len(x))

In [222]:
categories_aliases = categories_aliases[categories_aliases['length_category_id'] == 2]

In [223]:
categories_aliases

                category_id                          alias  length_category_id
6      [category, id=12491]             diski-vissol-v-107                   2
11     [category, id=12490]              diski-replay-jg14                   2
21     [category, id=12668]  diski-replica-top-driver-b143                   2
29     [category, id=12581]             diski-replay-ki223                   2
43     [category, id=12580]             diski-replay-ty182                   2
...                     ...                            ...                 ...
42304  [category, id=14310]              diski-alcasta-m04                   2
42398  [category, id=14311]             diski-xtrike-x-133                   2
42412  [category, id=14312]         shini-belshina-bel-253                   2
42424  [category, id=14313]     shini-dunlop-sp-sport-2050                   2
42486  [category, id=14314]                  diski-ls-rc47                   2

[6176 rows x 3 columns]

In [224]:
categories_aliases['alias'].to_csv('projects_aliases/ks_categories_aliases.csv', index=False)

### Карточки

In [225]:
products_aliases = table_aliases_catalog[['query', 'keyword']]
products_aliases.rename(columns = {'query':'product_id','keyword':'alias'}, inplace = True)
filter_products = products_aliases['product_id'].str.contains('product_id')

/Users/andreytryastsin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [226]:
products_aliases = products_aliases[filter_products]

In [227]:
products_aliases.duplicated().sum()

0

In [228]:
products_aliases.drop_duplicates(inplace=True)

In [229]:
products_aliases

              product_id                                              alias
0       product_id=93412  litie-kolesnie-diski-replica-concept-mr532-8-5...
1       product_id=93411  litie-kolesnie-diski-k-amp-k-barrakuda-7-5x17-...
2       product_id=93410  litie-kolesnie-diski-vissol-v-080l-8-5x19-5x12...
3       product_id=93409  litie-kolesnie-diski-vissol-v-107-8-5x19-5x112...
4       product_id=93407  litie-kolesnie-diski-vissol-v-107-10-5x22-5x12...
...                  ...                                                ...
42493  product_id=104831  litie-kolesnie-diski-k-amp-k-tanais-7x18-5x112...
42494  product_id=104832  litie-kolesnie-diski-k-amp-k-atlant-7x16-5x139...
42495  product_id=104833  litie-kolesnie-diski-k-amp-k-meandr-6x15-4x100...
42496  product_id=104834  litie-kolesnie-diski-k-amp-k-meandr-6x15-4x100...
42497  product_id=104835  litie-kolesnie-diski-k-amp-k-meandr-6x15-4x98-...

[36304 rows x 2 columns]

In [230]:
products_aliases['alias'].to_csv('projects_aliases/ks_products_aliases.csv', index=False)

### Фильтры

In [177]:
#table_aliases_filter['alias'].to_csv('projects_aliases/ew_filters_aliases.csv', index=False)